.arthas{
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71SRr%2BnhM0L._SX450_.jpg");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
}
.hide{
    display: none;
}